/*----------------------------------------- 
01 = google fonts
---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@300;400;500;700&family=Yuji+Syuku&display=swap");

/*----------------------------------------
 02 = variables
 ------------------------------------------ */
:root {
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsl(0, 0%, 0%, 0.04);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(158, 68%, 75%);
  --red-light: hsl(0, 84%, 80%);
  --orange-light: hsl(22, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
}

/*-------------------------------------------
 03 = overrides variables for - theme dark 
--------------------------------------------*/

/*-------------------------------------------
 04 = base 
--------------------------------------------*/


/*--------------------------------------------
05 = box
----------------------------------------------*/

/*-------------------------------------------- 
06 = curstomized bootstrap classed 
---------------------------------------------*/

/* ----------------------------------------------
07 = animation keyframes
------------------------------------------------- */

/*--------------------------------------------------
 08 = section - padding , title
 -------------------------------------------------- */

/*----------------------------------------------------
 09 = buttons 
 --------------------------------------------------- */

/*-----------------------------------------------------
 10 = page loader 
------------------------------------------------------*/

/*----------------------------------------------------
 11 = circular img 
 -----------------------------------------------------*/

/*-----------------------------------------------------
 12 = forms 
 ------------------------------------------------------*/

/*--------------------------------------------------------
 13 = video model 
 --------------------------------------------------------*/

/* -------------------------------------------------------
14 = pagination 
---------------------------------------------------------*/

/*-------------------------------------------------------- 
15 = breadcrub 
---------------------------------------------------------*/
/*-------------------------------------------------------- 
16 = tabs
---------------------------------------------------------*/

/*--------------------------------------------------------- 
16 = tabs
--------------------------------------------------------- */

/*---------------------------------------------------------
 17 = bubble animation 
 ---------------------------------------------------------*/

/*--------------------------------------------------------- 
18 = style switcher
---------------------------------------------------------- */

/*----------------------------------------------------------
 19 = header 
 --------------------------------------------------*/

/*------------------------------------------------------- 
20 = footer
----------------------------------------------------------- */

/* ------------------------------------------------------------
21 = banner section 
------------------------------------------------------------- */

/* --------------------------------------------------------------
22 = fun facts section 
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
23 = courses section 
---------------------------------------------------------------*/


/* -----------------------------------------------------------------
24 = testimonials section 
----------------------------------------------------------------------*/

/*--------------------------------------------------------------------
 25 = bai section 
 --------------------------------------------------------------------*/

/* ------------------------------------------------------------------
26 = courses details section 
---------------------------------------------------------------------*/

/* ------------------------------------------------------------------
27 = contact section 
-----------------------------------------------------------------------*/